<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultConnectionString" value="Server=.; Database=Extracts; Trusted_Connection=True;"/>
    <add key="DefaultRootDirectory" value="C:\Temp\"/>
    <add key="ExchangeServiceUrl" value="https://test.mail.com"/>
    <add key="ExchangeUsername" value="username"/>
    <add key="ExchangePassword" value="password"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>